* {
    margin: 0;
}

.headerPortfolio{
    background-color: #34363b;
    height: 60px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid gray;
}

.titleHeaderPortfolio{
    color: #FFF;
    font-size: 24px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-headerPortfolio{
    width: 30px;
    height: 30px;
    margin-left:
     10px;
}

.link {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
  }