.buttonfalse{
    width: 60px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
    float: right;
    cursor: pointer;
    background-color: #34363b;
}

#animation1 {
    animation: buttonMoving 1s infinite alternate-reverse;
  }
  
  @keyframes buttonMoving {
    100% {
        transform: translate(3px, 1px)
    }
  }