.buttontrue{
    transform: scale(1.10);
    width: 60px;
    height: 30px;
    color: rgb(49, 250, 109);
    text-align: center;
    border-bottom: 1px solid rgb(209, 11, 133);
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}
.buttonfalse{
    width: 60px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}

#animation1 {
    animation: buttonMoving 1s infinite alternate-reverse;
  }
  
  @keyframes buttonMoving {
    100% {
        transform: translate(3px, 1px)
    }
  }