.projectsDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.project {   
    margin: 20px; 
    width: 40%;
    display: inline-block;
    height: 250px;
    color: #7fff00;
    border: 1px solid #7fff00;
    border-radius: 8px;
}

.img-arrow-right {   
    width: 30px;
    height: 30px;
    position: absolute;
    top: 42%;
    right: 32px;  
}

.img-arrow-left {   
    width: 30px;
    height: 30px;
    position: absolute;
    top: 42%;
    left: 32px;  
}

.img-slide {   
    width: 100%;
    height: 200px;
}

.slider {
  position: relative;
  height: 400px;
  display: flex;
}

.title-slide {   
  color: #7fff00;
  text-decoration: none;
  float: right;
}