.title{
    width: 100%;
    color:  rgb(255, 255, 255);
    font-size: 18px;
    font-family: Lucida Console, Courier, monospace;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
}