* {
    margin: 0;
}

.header{
    background-color: #34363b;
    height: 60px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
}

.titleHeader{
    color: rgb(6, 184, 255);
    font-size: 28px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-header{
    width: 40px;
    height: 30px;
    margin-left: 10px;
}