* {
    margin: 0;
}

.header {
    background: #34363b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(6, 184, 255);
}

.titleHeader{
    color: rgb(6, 184, 255);
    font-size: 28px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-header{
    width: 40px;
    height: 30px;
    margin-left: 10px;
}