.buttonfalse{
    width: 60px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}

.buttontrue{
    transform: scale(1.10);
    width: 60px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid rgb(47, 91, 235);
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}.buttonfalse{
    width: 60px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}

.buttontrue{
    transform: scale(1.10);
    width: 60px;
    height: 30px;
    color: rgb(32, 162, 223);
    text-align: center;
    border-bottom: 1px solid rgb(32, 162, 223);
    float: right;
    margin: auto;
    cursor: pointer;
    background-color: #34363b;
}