.App-content {
  background-color: #282c34;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  grid-gap: 70px;
}

.presentation {
  margin: 15px;
}

.infos {
  width: 100%;
  height: 100%;
  border-color: chartreuse;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.skills-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-me {
  display: flex;
  width: 100%;
  border: 1px chartreuse solid;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-weight: bold;
  color: #FFF;
  font-size: 28px;
}

.body-about-me {
  color: #FFF;
}

.link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
}

.social-medias {
  margin: 10px;
  float: right;
  font-size: 12px;
}

.img-social-media {
  width: 20px;
  height: 20px;
}

.img-language {
  width: 70px;
  height: 70px;
  filter: grayscale(
    83%
    );
}


.img-newton {
  width: 30%;
  height: 80%;
  margin-right: 40px;
  padding: 10px;
  border: 0.5px solid chartreuse;
  border-radius: 100%;
}

#animation {
  animation: skillsMoving 1s infinite alternate-reverse;
}

@keyframes skillsMoving {
  100% {
      transform: translate(0, 100%)
  }
}
